@font-face {
  font-family: Aquire;
  src: url("../fonts/Aquire-BW0ox.otf");
}
* {
  margin: 0;
  padding: 0;
  outline: 0;
}
:root {
  --img-width: 276px;
  --img-height: 129px;
  --shell-width: 1104px;
}
body {
  font-size: 12px;
  line-height: 1.3;
  font-family: Arial, Helvetica, Sans-Serif;
  color: #ccc;
  background: url("images/body-bg.gif");
}
a {
  color: #e7b038;
  text-decoration: underline;
  cursor: pointer;
}
a:hover {
  text-decoration: none;
}
a img {
  border: 0;
}
input,
textarea,
select {
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}
textarea {
  overflow: auto;
}
.cl {
  display: block;
  height: 0;
  font-size: 0;
  line-height: 0;
  text-indent: -4000px;
  clear: both;
}
.notext {
  font-size: 0;
  line-height: 0;
  text-indent: -4000px;
}
.left,
.alignleft {
  float: left;
  display: inline;
}
.right,
.alignright {
  float: right;
  display: inline;
}
.text-right {
  text-align: right;
}
h2 {
  font-size: 15px;
  color: #f2a223;
  font-weight: bold;
}
h3 {
  font-size: 14px;
  color: #fff;
  font-weight: bold;
}
h4 {
  font-size: 14px;
  color: #f3b12b;
  font-weight: bold;
}
#shell {
  width: var(--shell-width);
  margin: 0 auto;
}
#header {
  position: relative;
}
#user-information {
  position: absolute;
  right: 0px;
  text-align: right;
}
#user-information p {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}
#user-information .logout a {
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  /* font-weight: bold; */
}

.top_image {
  display: flex;
  align-items: center;
}
.top_image img {
  width: 10%;
  height: 10%;
  /* display: block;
  margin-left: auto;
  margin-right: auto; */
}
.top_image p {
  font-family: "Aquire";
  /* font-weight: bold; */
  color: #fff;
  font-size: 30px;
  padding-left: 20px;
}

#sub-navigation {
  display: block;
  clear: right;
  border-top: 1px dashed #666;
  border-bottom: 1px dashed #666;
  padding: 8px 0;
}
#sub-navigation ul {
  list-style: none;
}
#sub-navigation ul li {
  float: left;
  display: inline;
  padding-right: 23px;
}
#sub-navigation ul li a {
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  line-height: 24px;
  text-decoration: none;
}
#sub-navigation ul li a:hover {
  text-decoration: underline;
}
#search {
  width: 346px;
  margin: 0 0 0 auto;
}
#search label {
  float: left;
  display: inline;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  line-height: 24px;
  padding-right: 6px;
}
#search .search-field {
  width: 238px;
  border: 1px solid #413e3e;
  background: #000;
  color: #787878;
  padding: 2px 0 2px 2px;
}
#search .search-button {
  font-size: 14px;
  font-weight: bold;
  border: 0;
  background: none;
  color: #fff;
  cursor: pointer;
}
#main {
  border-bottom: 1px dashed #413e3e;
}

.box {
  width: var(--shell-width);
  border-bottom: 1px dashed #413e3e;
  padding-bottom: 20px;
}
.box .head {
  width: var(--shell-width);
  padding-top: 14px;
  padding-bottom: 11px;
}
.box .head h2 {
  float: left;
  display: inline;
}
.box .game {
  width: var(--img-width);
  float: left;
  padding-right: 12px;
}
.game-image {
  float: left;
  width: var(--img-width);
  height: var(--img-height);
  position: relative;
}
.game-image img {
  width: var(--img-width);
  height: var(--img-height);
}
.game-image a {
  float: left;
  display: inline;
  width: var(--img-width);
  height: var(--img-height);
  position: relative;
  z-index: 2;
}
.play {
  position: absolute;
  top: 0;
  left: 0;
  width: var(--img-width);
  height: var(--img-height);
  background: url("images/276Shadow.png");
  display: block;
  z-index: 5;
  cursor: pointer;
  display: none;
}
.game span.name {
  font-weight: bold;
  color: #fff;
  font-size: 18px;
  text-align: center;
  padding-top: 100px;
  display: block;
}
.box .last {
  padding: 0;
}
.rating {
  float: left;
  width: 152px;
  padding-top: 8px;
}
.rating p {
  float: left;
  font-size: 12px;
  color: #fff;
  font-weight: bold;
}
/* Below is for Detail.html */
#content p1 {
  font-size: 20px;
}
