<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Game Recommendation</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
      type="text/css"
      media="all"
    />
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='js/jquery-1.4.2.min.js') }}"
    ></script>
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='js/jquery-func.js') }}"
    ></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='slick/slick.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='slick/slick-theme.css') }}"/>

  </head>
  <body>
    <!-- START PAGE SOURCE -->
    <div id="shell">
      <div id="header">
        <div class="top_image">
          <img src="{{url_for('static', filename='css/images/gamelogo.gif')}}"/>
          <p>GAME RECOMMENDATION</p>
        </div>
        <!-- <h1 id="logo"><a href="#">Game Recommendation</a></h1> -->
        <!-- <div class="social">
          <span>FOLLOW US ON:</span>
          <ul>
            <li><a class="twitter" href="#">twitter</a></li>
            <li><a class="facebook" href="#">facebook</a></li>
            <li><a class="vimeo" href="#">vimeo</a></li>
            <li><a class="rss" href="#">rss</a></li>
          </ul>
        </div> -->
        <!-- <div id="navigation">
          <ul>
            <li><a class="active" href="#">HOME</a></li>
            <li><a href="#">NEWS</a></li>
            <li><a href="#">IN THEATERS</a></li>
            <li><a href="#">COMING SOON</a></li>
            <li><a href="#">CONTACT</a></li>
            <li><a href="#">ADVERTISE</a></li>
          </ul>
        </div> -->
        <div id="sub-navigation">
          <ul>
            <li><a href="/">HOME</a></li>
            <!-- <li><a href="#">LATEST TRAILERS</a></li>
            <li><a href="#">TOP RATED</a></li>
            <li><a href="#">MOST COMMENTED</a></li> -->
          </ul>
          <!-- <div id="search">
            <form action="#" method="get" accept-charset="utf-8">
              <label for="search-field">SEARCH</label>
              <input
                type="text"
                name="search field"
                value="Enter search here"
                id="search-field"
                class="blink search-field"
              />
              <input type="submit" value="GO!" class="search-button" />
            </form>
          </div> -->
        </div>
      </div>
      <div id="main">
        <div id="content">
          <div class="game-detail">
            <img src={{game_detail["Image_Link"]}} alt="" />
            <p>Game name: {{game_detail["Game_name"]}}</p>
            <p>Developer: {{game_detail["developer"]}}</p>
            <p>Genre: {{game_detail["genre"]}}</p>
            <p>Tags: {{game_detail["tags"]}}</p>
          </div>
          <p1>Rating for the Game</p1>
          <!-- <form action="{{ url_for('views.index')}}"> -->
          <form method="POST">
            <!-- <label for="cars">Choose a car:</label> -->
            <select name="rating" id="rating">
              {%for i in range(1,6)%}
              <option rating_number="volvo">{{i}}</option>
              {%endfor%}
            </select>
            <br><br>
            <input type="submit" value="Submit">
          </form>
        </div>
        <div class="box">
          <div class="head">
            <h2>GAME HAVE SIMILAR CONTENT</h2>
            <!-- <p class="text-right"><a href="#">See all</a></p> -->
          </div>
          <div class="game_slider" data-slick='{"slidesToShow": 4, "slidesToScroll": 4}'>
          {%for i in list_game_recommend%}
          <div class="game">
            <div class="game-image">
              <a href="{{ url_for('views.detail', game_id = df["Game_id"].iloc[i])}}">
                <span class="play"
                  ><span class="name">{{df["Game_name"].iloc[i]}}</span></span
                >
                <img src={{df["Image_Link"].iloc[i]}} alt="" /></a
              >
            </div>
            <div class="rating">
              <p>RATING {{df["Rating"].iloc[i] + " %"}}</p>
            </div>
          </div>
          {%endfor%}
        </div>
          <div class="box">
            <div class="head">
              <h2>IF YOU LIKE THIS GAME YOU MIGHT LIKE THESE</h2>
              <!-- <p class="text-right"><a href="#">See all</a></p> -->
              <!-- <p class="text-right"></p> -->
            </div>
            <div class="game_slider" data-slick='{"slidesToShow": 4, "slidesToScroll": 4}'>
            {%for i in list_game_hybrid%}
            <div class="game">
              <div class="game-image">
                <a href="{{ url_for('views.detail', game_id = df["Game_id"].iloc[i])}}">
                  <span class="play"
                    ><span class="name">{{df["Game_name"].iloc[i]}}</span></span
                  >
                  <img src={{df["Image_Link"].iloc[i]}} alt="" /></a
                >
              </div>
              <div class="rating">
                <p>RATING {{df["Rating"].iloc[i] + " %"}}</p>
              </div>
            </div>
            {%endfor%}
          </div>
        </div>
      </div>
    </div>
    <!-- END PAGE SOURCE -->

    <script type="text/javascript" src="{{ url_for('static', filename='js/slider-func.js') }}"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='slick/slick.min.js') }}"></script>


  </body>
</html>
