<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Game Recommendation</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
      type="text/css"
      media="all"
    />
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='js/jquery-1.4.2.min.js') }}"
    ></script>
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='js/jquery-func.js') }}"
    ></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='slick/slick.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='slick/slick-theme.css') }}"/>
    
    <!--[if IE 6
      ]><link rel="stylesheet" href="css/ie6.css" type="text/css" media="all"
    /><![endif]-->
  </head>
  <body>
    <!-- <div class="container-login100-form-btn m-t-17">
      <button class="login100-form-btn">
        <a class="login100-form-btn" href="/logout">Logout</a>
      </button> -->
    <!-- START PAGE SOURCE -->
    <div id="shell">
      <div id="header">
        <div id="user-information">
          <p class="text-right">Hi {{user_name}}</p>
          <p class="text-right">Choose your suitable game</p>
          <p class="text-right">
            <button class="logout">
              <a href="{{ url_for('views.logout')}}">LOGOUT</a>
            </button> 
          </p>
        </div>

        <div class="top_image">
          <img src="{{url_for('static', filename='css/images/gamelogo.gif')}}"/>
          <p>GAME RECOMMENDATION</p>
        </div>
        
        <!-- <div class="social">
          <span>FOLLOW US ON:</span>
          <ul>
            <li><a class="twitter" href="#">twitter</a></li>
            <li><a class="facebook" href="#">facebook</a></li>
            <li><a class="vimeo" href="#">vimeo</a></li>
            <li><a class="rss" href="#">rss</a></li>
          </ul>
        </div>
        <div id="navigation">
          <ul>
            <li><a class="active" href="#">HOME</a></li>
            <li><a href="#">NEWS</a></li>
            <li><a href="#">IN THEATERS</a></li>
            <li><a href="#">COMING SOON</a></li>
            <li><a href="#">CONTACT</a></li>
            <li><a href="#">ADVERTISE</a></li>
          </ul>
        </div> -->
        <div id="sub-navigation">
          <!-- <ul>
            <li><a href="#">SHOW ALL</a></li>
            <li><a href="#">LATEST TRAILERS</a></li>
            <li><a href="#">TOP RATED</a></li>
            <li><a href="#">MOST COMMENTED</a></li>
          </ul> -->
          <!-- <div id="search">
            <form action="#" method="get" accept-charset="utf-8">
              <label for="search-field">SEARCH</label>
              <input
                type="text"
                name="search field"
                value="Enter search here"
                id="search-field"
                class="blink search-field"
              />
              <input type="submit" value="GO!" class="search-button" />
            </form>
          </div> -->
        </div>
      </div>
      <div id="main">
        <div id="content">
          <div class="box">
            <div class="head">
              <h2>TOP RATING GAME</h2>
              <!-- <p class="text-right"><a href="#">See all</a></p> -->
            </div>
            <div class="game_slider" data-slick='{"slidesToShow": 4, "slidesToScroll": 4}'>
            {%for i in range(0,20)%}
            <div class="game">
              <div class="game-image">
                <a href="{{ url_for('views.detail', game_id = top_Rating["Game_id"].iloc[i])}}"
                  >
                  <span class="play"><span class="name">{{top_Rating["Game_name"].iloc[i]}}</span></span>
                  <img
                    src={{top_Rating["Image_Link"].iloc[i]}}
                    alt=""
                />
              </a>
              </div>
              <div class="rating">
                <p>RATING {{top_Rating["Rating"].iloc[i] + " %"}}</p>
              </div>
            </div>
            {%endfor%}
          </div>
          </div>
          <div class="box">
            <div class="head">
              <h2>RECOMMEND FOR USER</h2>
              <!-- <p class="text-right"><a href="#">See all</a></p> -->
            </div>
            <div class="game_slider" data-slick='{"slidesToShow": 4, "slidesToScroll": 4}'>
            {%for i in range(0,20)%}
            <div class="game">
              <div class="game-image">
                <a href="{{ url_for('views.detail', game_id = user_recommend["Game_id"].iloc[i])}}"
                  >
                  <span class="play"><span class="name">{{user_recommend["Game_name"].iloc[i]}}</span></span>
                  <img
                    src={{user_recommend["Image_Link"].iloc[i]}}
                    alt=""
                />
              </a>
              </div>
              <div class="rating">
                <p>RATING {{user_recommend["Rating"].iloc[i] + " %"}}</p>
              </div>
            </div>
            {%endfor%}
          </div>
          </div>
          <div class="box">
            <div class="head">
              <h2>TOP GAME BY POSITIVE SCORE</h2>
              <!-- <p class="text-right"><a href="#">See all</a></p> -->
            </div>
            <div class="game_slider" data-slick='{"slidesToShow": 4, "slidesToScroll": 4}'>
            {%for i in range(0,20)%}
            <div class="game">
              <div class="game-image">
                <a href="{{ url_for('views.detail', game_id = top_positive["Game_id"].iloc[i])}}"
                  >
                  <span class="play"><span class="name">{{top_positive["Game_name"].iloc[i]}}</span></span>
                  <img
                    src={{top_positive["Image_Link"].iloc[i]}}
                    alt=""
                /></a>
              </div>
              <div class="rating">
                <p>POSITIVE RATING {{top_positive["positive"].iloc[i]}}</p>
              </div>
            </div>
            {%endfor%}
          </div>
          </div>
          <div class="box">
            <div class="head">
              <h2>TOP GAME PLAYER PLAY MOST</h2>
              <!-- <p class="text-right"><a href="#">See all</a></p> -->
            </div>
            <div class="game_slider" data-slick='{"slidesToShow": 4, "slidesToScroll": 4}'>
            {%for i in range(0,20)%}
            <div class="game">
              <div class="game-image">
                <a href="{{ url_for('views.detail', game_id = top_forever["Game_id"].iloc[i])}}"
                  >
                  <span class="play"><span class="name">{{top_forever["Game_name"].iloc[i]}}</span></span>
                  <img
                    src={{top_forever["Image_Link"].iloc[i]}}
                    alt=""
                /></a>
              </div>
              <div class="rating">
                <p>RATING {{top_forever["Rating"].iloc[i] + " %"}}</p>
              </div>
            </div>
            {%endfor%}
          </div>
          </div>
        </div>
    </div>
    <!-- END PAGE SOURCE -->

  <script type="text/javascript" src="{{ url_for('static', filename='js/slider-func.js') }}"></script>
  <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='slick/slick.min.js') }}"></script>
  


  </body>
</html>
