{% extends 'base.html' %} {% block content %}
<div class="limiter">
  <style>
    body {
      background-color: rgb(12, 12, 12);
    }
  </style>
  <div class="container-login100">
    <div class="wrap-login100 p-t-50 p-b-90">
      <!-- <span class="login100-form-title p-b-51"> {{ "Hello" }} </span> -->
      <img
        src="{{url_for('static', filename='css/images/hello.gif')}}"
        alt="Game Title"
        width="390"
        height="220"
      />

      <div class="container-login100-form-btn m-t-17">
        <button class="login100-form-btn">
          <a class="login100-form-btn" href="{{ url_for('views.login')}}"
            >Login</a
          >
        </button>
      </div>
      <div class="container-login100-form-btn m-t-17">
        <button class="login100-form-btn">
          <a class="login100-form-btn" href="{{ url_for('views.register')}}"
            >Register</a
          >
        </button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
